.visible {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 40;
    height: 4rem;
    transition: 0.3s linear;
    display: flex;
    justify-content: stretch;
    align-items: center;
    /* background-color: transparent; */
    /* padding: 0 7%; */
}

.hidden {
    /* height: 4rem;
    width: 100%;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    transition: 0.3s linear;
    position: fixed; */
    /* border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08); */
    /* background-color: white; */
    top: -80px;

}